.article {
    display: flex;
    flex-direction: row;
    margin: 0 0 32px 0;
}

.article__img {
    object-fit: contain;
    height: 152px;
    margin: 0 16px 0 0;
}

.article-content__number {
    color: var(--grayBlue);
    margin: 0 0 8px 0;
}

.article-content__title {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    color: var(--darkBlue);
    text-decoration: none;
    margin: 0 0 8px 0;
}

.article-content__title:hover {
    color: var(--red);
}

.article-content__description {
    color: var(--veryDarkBlue);
}