.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 32px 0;
}

.navbar__ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: auto;
}

.navbar__ul li {
    display: inline-block;
    padding: 0 16px;
}

.navbar__ul li:last-of-type {
    padding-right: 0;
}

.navbar__ul li a {
    text-decoration: none;
    color: var(--darkGrayBlue);
}

.navbar__ul li a:hover {
    color: var(--red);
}

.navbar__open-btn {
    display: none;
    margin-left: auto;
    background: none;
    border: none;
}

@media (max-width: 768px) {
    .navbar__ul {
        display: none;
    }

    .navbar__open-btn {
        display: flex;
    }
}